body {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}

.container {
    margin: 0 auto;
    max-width: 1140px;
    padding: 0 2rem;
    position: relative;
}

/* ===========start header-main============= */
.header-main {
    display: flex;
    margin: 70px 0px;
}

.header-left {
    width: 30%;
}

.header-right {
    width: 70%;
}

.header-right ul {
    margin: 0;
    list-style: none;
    padding: 0;
    float: right;
}

.header-right li a {
    text-decoration: none;
    padding: 9px 35px;
    text-transform: uppercase;
    color: #626262;
    font-size: 19px;
}

.header-right li a:hover {
    color: orange;
}

.fr-0 {
    padding-right: 0px !important;
}

/* ===============end header-main============ */

/* ==========start slider-main============== */
.slider-main img {
    width: 100%;
}

.slider-main {
    margin-bottom: 66px;
}

/* ========end slider-main=========== */

/* ========start post-section-area-main=========== */
.post-area-heading span {
    font-size: 19px;
    text-transform: uppercase;
    color: #b4ad9e;
}

.post-area-heading h2 {
    font-size: 30px;
    color: #626262;
}

.post-area-heading p {
    font-size: 18px;
    color: #626262;
    line-height: 30px;
}

.post-area-heading p span {
    color: #000;
    font-weight: 600;
    text-transform: capitalize;
}

.pra {
    padding-top: 9px;
}

.images-area-main {
    margin-top: 20px;
}

.images-main img {
    width: 100%;
    margin-top: 50px;
}

.images-heading-main p {
    font-size: 18px;
    color: #626262;
    line-height: 28px;
}

.main-heading p {
    font-size: 18px;
    color: #626262;
    line-height: 28px;
    margin-top: 24px;
}

.main-heading-icon {
    margin-top: 100px;
    text-align: right;
}

.main-heading-icon a img {
    padding-left: 9px;
}

.main-heading-icon span {
    margin-right: 13px;
    text-transform: uppercase;
    font-size: 16px;
}

/* ============lkdhiudhsiugjoejge=========== */
.post-section-area-main {
    display: flex;
}

.post-section-area-main-left {
    width: 80%;
    margin-right: 37px;
}

.post-section-area-main-right {
    width: 30%;
}

.post-sections-area-main {
    width: 1000px;
    margin: 0 auto;
}

.post-sections-area-main {
    width: 1064px;
    margin: 0 15%;
}

.side-bar-heading1 img {
    width: 100%;
}

.post-sections-area-main {
    width: 1064px;
    margin: 0 7%;
}

.side-bar-heading1 h2 {
    color: #626262;
}

.side-bar-heading1 p {
    font-size: 16px;
    line-height: 24px;
    color: #626262;
}

.side-icon img {
    width: auto;
    margin-right: 6px;
    margin-top: 8px;
}

.side-bar-heading2 h3 {
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 66px;
    color: #b4ad9e;
    margin-bottom: 29px;
}

.side-bar-heading2 ul li a {
    text-decoration: none;
    color: #000;
    font-size: 19px;
    margin-bottom: 39px;
    display: block;
}

.side-bar-heading2 img {
    width: 100%;
    margin-top: 40px;
}

.side-bar-heading2 a span {
    color: #b4ad9e;
    display: block;
    margin-top: 8px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
}

.post-sections-area-main-contant {
    width: 1140px;
    margin: 0 auto;
}

/* ========end post-section-area-main=========== */

/* ========start like-main-images=========== */
.main-images-heading {
    width: 900px;
    margin: 0 auto;
}

.like-main-images {
    background: #F5F5F5;
    margin-top: 70px;
    padding-top: 40px;
}

.like-main {
    display: flex;
}

.like-images {
    width: 33.33%;
}

.like-images img {
    width: 100%;
}

.like-images {
    width: 33.33%;
    padding: 16px;
}

.ml-1 {
    padding-left: 0px;
}

.mr-1 {
    padding-right: 0px;
}

.main-images-heading h3 {
    color: #b4ad9e;
    font-size: 19px;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.like-images h3 {
    color: #626262;
    font-size: 21px;
    text-transform: capitalize;
    margin-bottom: 46px;
}

/* ========end like-main-images=========== */

/* ========start comment-area-main=========== */

.comment-area-container {
    width: 900px;
    margin: 0 auto;
}

.comment-area h4 {
    color: #b4ad9e;
    text-transform: uppercase;
    font-size: 17px;
    margin-top: 60px;
    margin-bottom: 62px;
}

.area {
    display: flex;
    margin-bottom: 100px;
}

.area-left {
    width: 10%;
}

.area-right {
    width: 90%;
}

.area-right h4 {
    margin: 0;
}

.area-right p {
    margin: 0;
}

.area-left img {
    width: 100%;
}

.area-right h4 {
    margin: 0;
    font-size: 17px;
    color: #626262;
    text-transform: capitalize;
    margin-bottom: 14px;
}

.area-right p {
    margin: 0;
    color: #626262;
    font-size: 18px;
    margin-bottom: 19px;
    line-height: 27px;
}

.area-right {
    width: 92%;
    margin-left: 35px;
}

.area-right h4 {
    margin: 0;
    font-size: 19px;
    color: #626262;
    text-transform: capitalize;
    margin-bottom: 12px;
    margin-top: -20px;
}

.area-right span {
    font-size: 19px;
    text-transform: uppercase;
    color: #b4ad9e;
}

.area-right input {
    border: 1px solid #C8C8C8;
    padding: 24px;
    width: 93%;
    border-radius: 9px;
    margin-top: 12px;
}

.area-right input:focus {
    outline: none;
}

.area-right input::placeholder {
    text-transform: uppercase;
    color: #c8c8c8;
}

.area-socal {
    text-align: right;
}

.area-socal a img {
    margin-left: 14px;
}

.area-socal span {
    margin-right: 12px;
}

.mb-1 {
    margin-bottom: 42px;
}

/* ========end comment-area-main=========== */

/* ========start footer-area-main=========== */
.footer-area-main {
    background: #F0F0F0;
}

.footer-area {
    width: 1000px;
    margin: 0 auto;
    display: flex;
}

.footer-left {
    width: 50%;
    float: left;
}

.footer-right {
    width: 50%;
    text-align: right;
}

.social-icon {
    display: inline-block;
}

.footer-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-menu ul li a {
    text-decoration: none;
    color: #000;
}

.footer-menu ul li a {
    text-decoration: none;
    color: #000;
    padding-right: 22px;
    font-size: 18px;
}

.footer-area-main {
    background: #F0F0F0;
    padding: 30px;
    margin-top: 95px;
}

.social-icon a {
    padding: 13px;
}

.footer-right span {
    padding-right: 17px;
    font-size: 17px;
}

/* ========end footer-area-main=========== */















/********************************************************/
/* Max-Width 1200PX     *********************************/
/********************************************************/
@media (max-width: 1200px) {
    .container {
        max-width: 100%;
    }


    .images-heading-main {
        width: 100%;
    }

    .main-images-heading {
        width: 100%;
    }

    .comment-area-container {
        width: 100%;
        overflow: hidden;
    }

    .footer-area {
        width: 100%;
    }

    .mr-1 {
        padding-right: 11px;
    }

    .ml-1 {
        padding-left: 11px;
    }

    .header-right li a {
        padding: 9px 17px;
    }

    .like-images h3 {
        font-size: 19px;
    }

    .post-sections-area-main-contant {
        width: 100%;
        overflow: hidden;
    }

    .post-sections-area-main {
        width: 100%;
        margin: 0 auto;
    }

    .post-section-area-main {
        margin: 19px;
    }
}


/********************************************************/
/* Min-Width 993PX     **********************************/
/********************************************************/
@media (min-width: 992px) {}



/********************************************************/
/* Max-Width 991PX     **********************************/
/********************************************************/
@media (max-width: 991px) {
    .container {
        max-width: 100%;
    }


    .images-heading-main {
        width: 100%;
    }

    .main-images-heading {
        width: 100%;
    }

    .comment-area-container {
        width: 100%;
        overflow: hidden;
    }

    .footer-area {
        width: 100%;
    }

    .mr-1 {
        padding-right: 11px;
    }

    .ml-1 {
        padding-left: 11px;
    }

    .header-right li a {
        padding: 9px 17px;
    }

    .like-images h3 {
        font-size: 19px;
    }

    .post-sections-area-main-contant {
        width: 100%;
        overflow: hidden;
    }

    .post-sections-area-main {
        width: 100%;
        margin: 0 auto;
    }

    .post-section-area-main {
        margin: 19px;
    }
}


/********************************************************/
/* Max-Width 767PX     **********************************/
/********************************************************/
@media (max-width: 767px) {

    .container {
        max-width: 100%;
    }

    .header-main {
        display: block;
        margin: 14px 0px 44px 0px;
    }

    .images-heading-main {
        width: 100%;
        margin-top: 15px;
    }

    .main-images-heading {
        width: 100%;
        overflow: hidden;
    }

    .comment-area-container {
        width: 100%;
    }

    .area-left {
        width: 15%;
    }

    .area-right {
        width: 100%;
    }

    .footer-left {
        width: 100%;
    }

    .footer-area {
        width: 100%;
        display: block;
    }

    .like-main {
        display: flex;
    }

    .like-images {
        width: 100%;
        padding: 10px;
    }

    .area {
        display: flex;
        margin-bottom: 50px;
    }

    .area-right h4 {
        font-size: 16px;
        margin-top: 2px;
    }

    .area-left img {
        width: 100%;
        margin-left: 17px;
    }

    .area-right p {
        font-size: 14px;
        line-height: 22px;
        margin-right: 16px;
    }

    .area-right input {
        width: 66%;
        padding: 9px;
        border-radius: 4px;
        margin-top: 5px;
        font-size: 12px;
    }

    .area-socal {
        text-align: center;
    }

    .area-socal span {
        margin-right: 5px;
        font-size: 14px;
    }

    .footer-menu ul li a {
        padding-right: 14px;
        font-size: 14px;
    }

    .social-icon a {
        padding: 6px;
    }

    .footer-right span {
        font-size: 14px;
        display: block;
    }

    .footer-right {
        width: 100%;
        text-align: center;
    }

    .footer-area-main {
        padding: 30px 0px;
        margin-top: 28px;
    }

    .footer-menu ul {
        text-align: center;
    }

    .comment-area .commant2 {
        margin-top: 22px;
        margin-bottom: 26px;
        margin-left: 23px;
        font-size: 13px;
    }

    .like-images h3 {
        font-size: 14px;
        margin-bottom: 18px;
        text-align: center;
    }

    .main-images-heading h3 {
        font-size: 14px;
        margin-bottom: 22px;
        text-align: center;
    }

    .like-main-images {
        margin-top: 31px;
        padding-top: 3px;
    }

    .main-heading-icon {
        margin-top: 34px;
        text-align: center;
    }

    .main-heading-icon span {
        font-size: 14px;
    }

    .main-heading-icon a img {
        padding-left: 6px;
    }

    .main-heading p {
        font-size: 14px;
        line-height: 26px;
        margin-top: 9px;
    }

    .images-heading-main p {
        font-size: 14px;
        line-height: 26px;
    }

    .images-main img {
        margin-top: 20px;
    }

    .slider-main {
        margin-bottom: 33px;
    }

    .header-left {
        width: 100%;
        text-align: center;
    }

    .header-right {
        width: 100%;
    }

    .header-right ul {
        text-align: center;
        float: inherit;
    }

    .header-right ul li a {
        padding: 5px 0px;
        font-size: 19px;
        display: block;
        border-bottom: 1px solid #000;
    }

    .post-sections-area-main {
        width: 100%;
        margin: 0 auto;
    }

    .post-sections-area-main-contant {
        width: 100%;
        margin: 0 auto;
    }

    .post-section-area-main {
        display: block;
    }

    .post-section-area-main-left {
        width: 100%;
    }

    .post-section-area-main-right {
        width: 100%;
    }

    .post-area-heading {
        margin: 0px 7px 0px 34px;
    }

    .post-area-heading span {
        font-size: 14px;
    }

    .post-area-heading h2 {
        font-size: 19px;
        margin-top: 7px;
    }

    .post-area-heading p {
        font-size: 14px;
        line-height: 24px;
    }

    .post-area-heading p span {
        font-weight: 500;
        font-size: 13px;
    }

    .images-area-main {
        margin: 20px;
    }

    .site-bar-main {
        margin: 30px;
        margin-top: 41px;
    }

    .side-bar-heading1 h2 {
        font-size: 16px;
    }

    .side-bar-heading1 p {
        font-size: 14px;
    }

    .side-bar-heading2 h3 {
        font-size: 15px;
        margin-top: 44px;
        margin-bottom: 10px;
    }

    .side-bar-heading2 ul li a {
        font-size: 14px;
        margin-bottom: 26px;
    }

    .side-bar-heading2 a span {
        margin-top: 6px;
        font-size: 13px;
    }

}



/********************************************************/
/* Max-Width 576PX     **********************************/
/********************************************************/
@media (max-width: 576px) {

    .container {
        max-width: 100%;
    }

    .header-main {
        display: block;
        margin: 14px 0px 44px 0px;
    }

    .images-heading-main {
        width: 100%;
        margin-top: 15px;
    }

    .main-images-heading {
        width: 100%;
        overflow: hidden;
    }

    .comment-area-container {
        width: 100%;
    }

    .area-left {
        width: 15%;
    }

    .area-right {
        width: 100%;
    }

    .footer-left {
        width: 100%;
    }

    .footer-area {
        width: 100%;
        display: block;
    }

    .like-main {
        display: block;
    }

    .like-images {
        width: 100%;
        padding: 0px;
    }

    .area {
        display: flex;
        margin-bottom: 50px;
    }

    .area-right h4 {
        font-size: 16px;
        margin-top: 2px;
    }

    .area-left img {
        width: 100%;
        margin-left: 17px;
    }

    .area-right p {
        font-size: 14px;
        line-height: 22px;
        margin-right: 16px;
    }

    .area-right input {
        width: 66%;
        padding: 9px;
        border-radius: 4px;
        margin-top: 5px;
        font-size: 12px;
    }

    .area-socal {
        text-align: center;
    }

    .area-socal span {
        margin-right: 5px;
        font-size: 14px;
    }

    .footer-menu ul li a {
        padding-right: 14px;
        font-size: 14px;
    }

    .social-icon a {
        padding: 6px;
    }

    .footer-right span {
        font-size: 14px;
        display: block;
    }

    .footer-right {
        width: 100%;
        text-align: center;
    }

    .footer-area-main {
        padding: 30px 0px;
        margin-top: 28px;
    }

    .footer-menu ul {
        text-align: center;
    }

    .comment-area .commant2 {
        margin-top: 22px;
        margin-bottom: 26px;
        margin-left: 23px;
        font-size: 13px;
    }

    .like-images h3 {
        font-size: 14px;
        margin-bottom: 18px;
        text-align: center;
    }

    .main-images-heading h3 {
        font-size: 14px;
        margin-bottom: 22px;
        text-align: center;
    }

    .like-main-images {
        margin-top: 31px;
        padding-top: 3px;
    }

    .main-heading-icon {
        margin-top: 34px;
        text-align: center;
    }

    .main-heading-icon span {
        font-size: 14px;
    }

    .main-heading-icon a img {
        padding-left: 6px;
    }

    .main-heading p {
        font-size: 14px;
        line-height: 26px;
        margin-top: 9px;
    }

    .images-heading-main p {
        font-size: 14px;
        line-height: 26px;
    }

    .images-main img {
        margin-top: 20px;
    }

    .slider-main {
        margin-bottom: 33px;
    }

    .header-left {
        width: 100%;
        text-align: center;
    }

    .header-right {
        width: 100%;
    }

    .header-right ul {
        text-align: center;
        float: inherit;
    }

    .header-right ul li a {
        padding: 5px 0px;
        font-size: 19px;
        display: block;
        border-bottom: 1px solid #000;
    }

    .post-sections-area-main {
        width: 100%;
        margin: 0 auto;
    }

    .post-sections-area-main-contant {
        width: 100%;
        margin: 0 auto;
    }

    .post-section-area-main {
        display: block;
    }

    .post-section-area-main-left {
        width: 100%;
    }

    .post-section-area-main-right {
        width: 100%;
    }

    .post-area-heading {
        margin: 0px 7px 0px 34px;
    }

    .post-area-heading span {
        font-size: 14px;
    }

    .post-area-heading h2 {
        font-size: 19px;
        margin-top: 7px;
    }

    .post-area-heading p {
        font-size: 14px;
        line-height: 24px;
    }

    .post-area-heading p span {
        font-weight: 500;
        font-size: 13px;
    }

    .images-area-main {
        margin: 20px;
    }

    .site-bar-main {
        margin: 30px;
        margin-top: 41px;
    }

    .side-bar-heading1 h2 {
        font-size: 16px;
    }

    .side-bar-heading1 p {
        font-size: 14px;
    }

    .side-bar-heading2 h3 {
        font-size: 15px;
        margin-top: 44px;
        margin-bottom: 10px;
    }

    .side-bar-heading2 ul li a {
        font-size: 14px;
        margin-bottom: 26px;
    }

    .side-bar-heading2 a span {
        margin-top: 6px;
        font-size: 13px;
    }
}